# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\olman.DESKTOP-NDFIT8B\Desktop\Projects\Sem3\FontysIn\gps-fontysin-ui\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
